@import './setting.scss';

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.3em;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* Khai báo biến */

.app__container {
    background-color: $body-bg-color;
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
}
